<title>UPshare</title>
<div class="page-wrapper">
        <div *ngIf="loggedUserName" class="menu-wrapper"><!-- if the string "loggedUserName" is empty then the statement is false -->
                <ul> 
                        <li><a routerLink="/home">HOME</a></li>
                        <li  ><a routerLink="/following">FOLLOWING</a></li>
                        <li  ><a routerLink="/followers">FOLLOWERS</a></li>
                        <li  ><a [routerLink]="'/profile/' + loggedUserName ">PROFILE</a></li>
                        <li  ><a routerLink="/about">ABOUT</a></li>
                </ul>
        </div>
        
        
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
</div>

 
 

