<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UPSHARE | LOGIN  </title>
</head>
<body>
  <h1 class="title">UPSHARE </h1>
  <form>
<h1 class="title"> LOG IN TO START SHARING!</h1>
      <label for="user-name">USERNAME</label>
          <br>
      <input type="text" name="username" id="user-name">
      <br>
      <label for="user-pw">PASSWORD</label>
          <br>
          <input type="password"  name="userp" id="user-pw">
</form>
  <br>
  <button class="signin-btn" type="submit" (click)="sendserver()">SIGN IN!</button>
  <br><br>
  <a class="signin-btn signup-page-btn" routerLink="/signup">OR SIGN UP HERE</a>
</body>
</html>